body {
    background-color: red;
}

h1 {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#mojitoparachicas {
    position: relative;
    top: 300px;
    left: 700px;
    width: 230px;
    height: 260px;
    display: none;
}

